html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	line-height: 1.0;
	min-height: var(--viewport-height);
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
	background-color: #CDCDCD;
}

body:before {
	background-attachment: scroll;
	content: '';
	display: block;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%22640%22%20height%3D%22480%22%20viewBox%3D%220%200%20640%20480%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%20line%20%7B%20vector-effect%3A%20non-scaling-stroke%3B%20stroke%3A%20%23000000%3B%20stroke-linecap%3A%20round%3B%20stroke-width%3A%201.01px%3B%20%7D%20%3C%2Fstyle%3E%20%3Cline%20x1%3D%2238.9624%22%20y1%3D%22-165.5514%22%20x2%3D%2250.1205%22%20y2%3D%22-213.012%22%20stroke-opacity%3D%220.05%22%20%2F%3E%20%3Cline%20x1%3D%22478.0596%22%20y1%3D%22257.5266%22%20x2%3D%22492.3077%22%20y2%3D%22196.9231%22%20stroke-opacity%3D%220.55%22%20%2F%3E%20%3Cline%20x1%3D%22243.8228%22%20y1%3D%22-122.7954%22%20x2%3D%22258.1443%22%20y2%3D%22-183.7113%22%20stroke-opacity%3D%220.56%22%20%2F%3E%20%3Cline%20x1%3D%22-68.1872%22%20y1%3D%22335.6961%22%20x2%3D%22-54.6341%22%20y2%3D%22278.0488%22%20stroke-opacity%3D%220.45%22%20%2F%3E%20%3Cline%20x1%3D%22286.0163%22%20y1%3D%22529.7654%22%20x2%3D%22298.4753%22%20y2%3D%22476.7713%22%20stroke-opacity%3D%220.27%22%20%2F%3E%20%3Cline%20x1%3D%22394.9783%22%20y1%3D%22691.7271%22%20x2%3D%22412.9032%22%20y2%3D%22615.4839%22%20stroke-opacity%3D%220.95%22%20%2F%3E%20%3Cline%20x1%3D%22538.4777%22%20y1%3D%22284.9882%22%20x2%3D%22552.6531%22%20y2%3D%22224.6939%22%20stroke-opacity%3D%220.54%22%20%2F%3E%20%3Cline%20x1%3D%22105.7549%22%20y1%3D%22527.3906%22%20x2%3D%22121.105%22%20y2%3D%22462.0994%22%20stroke-opacity%3D%220.69%22%20%2F%3E%20%3Cline%20x1%3D%22502.5364%22%20y1%3D%22298.339%22%20x2%3D%22517.8022%22%20y2%3D%22233.4066%22%20stroke-opacity%3D%220.68%22%20%2F%3E%20%3Cline%20x1%3D%22146.9816%22%20y1%3D%22541.755%22%20x2%3D%22158.6555%22%20y2%3D%22492.1008%22%20stroke-opacity%3D%220.12%22%20%2F%3E%20%3Cline%20x1%3D%2244.0306%22%20y1%3D%22454.2266%22%20x2%3D%2259.1304%22%20y2%3D%22390.0%22%20stroke-opacity%3D%220.66%22%20%2F%3E%20%3Cline%20x1%3D%22-12.6654%22%20y1%3D%22347.8349%22%20x2%3D%22-0.6897%22%20y2%3D%22296.8966%22%20stroke-opacity%3D%220.18%22%20%2F%3E%20%3Cline%20x1%3D%22508.2259%22%20y1%3D%22568.8005%22%20x2%3D%22521.9802%22%20y2%3D%22510.297%22%20stroke-opacity%3D%220.48%22%20%2F%3E%20%3Cline%20x1%3D%22518.1452%22%20y1%3D%22186.1652%22%20x2%3D%22531.7647%22%20y2%3D%22128.2353%22%20stroke-opacity%3D%220.46%22%20%2F%3E%20%3Cline%20x1%3D%22453.4694%22%20y1%3D%2269.0421%22%20x2%3D%22470.9434%22%20y2%3D%22-5.283%22%20stroke-opacity%3D%220.91%22%20%2F%3E%20%3Cline%20x1%3D%22476.4346%22%20y1%3D%22524.8854%22%20x2%3D%22494.8344%22%20y2%3D%22446.6225%22%20stroke-opacity%3D%220.99%22%20%2F%3E%20%3Cline%20x1%3D%22445.7084%22%20y1%3D%22-169.5764%22%20x2%3D%22459.1304%22%20y2%3D%22-226.6667%22%20stroke-opacity%3D%220.43%22%20%2F%3E%20%3Cline%20x1%3D%22351.149%22%20y1%3D%22337.7977%22%20x2%3D%22363.8356%22%20y2%3D%22283.8356%22%20stroke-opacity%3D%220.31%22%20%2F%3E%20%3Cline%20x1%3D%22398.1982%22%20y1%3D%22-215.1538%22%20x2%3D%22411.4286%22%20y2%3D%22-271.4286%22%20stroke-opacity%3D%220.4%22%20%2F%3E%20%3Cline%20x1%3D%22269.8851%22%20y1%3D%22239.2619%22%20x2%3D%22281.1336%22%20y2%3D%22191.417%22%20stroke-opacity%3D%220.05%22%20%2F%3E%20%3Cline%20x1%3D%22115.4067%22%20y1%3D%22315.2004%22%20x2%3D%22128.4507%22%20y2%3D%22259.7183%22%20stroke-opacity%3D%220.37%22%20%2F%3E%20%3Cline%20x1%3D%2252.8186%22%20y1%3D%22-26.2779%22%20x2%3D%2265.6221%22%20y2%3D%22-80.7373%22%20stroke-opacity%3D%220.33%22%20%2F%3E%20%3Cline%20x1%3D%22632.7582%22%20y1%3D%22341.3873%22%20x2%3D%22644.8908%22%20y2%3D%22289.7817%22%20stroke-opacity%3D%220.21%22%20%2F%3E%20%3Cline%20x1%3D%22593.0293%22%20y1%3D%22229.6755%22%20x2%3D%22607.5%22%20y2%3D%22168.125%22%20stroke-opacity%3D%220.58%22%20%2F%3E%20%3Cline%20x1%3D%22328.9059%22%20y1%3D%22-165.2084%22%20x2%3D%22341.1454%22%20y2%3D%22-217.2687%22%20stroke-opacity%3D%220.23%22%20%2F%3E%20%3Cline%20x1%3D%22203.0938%22%20y1%3D%22-19.4804%22%20x2%3D%22217.8723%22%20y2%3D%22-82.3404%22%20stroke-opacity%3D%220.62%22%20%2F%3E%20%3Cline%20x1%3D%22278.596%22%20y1%3D%22470.7788%22%20x2%3D%22290.1245%22%20y2%3D%22421.7427%22%20stroke-opacity%3D%220.09%22%20%2F%3E%20%3Cline%20x1%3D%22290.7437%22%20y1%3D%22-137.3012%22%20x2%3D%22306.4407%22%20y2%3D%22-204.0678%22%20stroke-opacity%3D%220.73%22%20%2F%3E%20%3Cline%20x1%3D%2261.9728%22%20y1%3D%22-160.7791%22%20x2%3D%2273.8462%22%20y2%3D%22-211.2821%22%20stroke-opacity%3D%220.16%22%20%2F%3E%20%3Cline%20x1%3D%22644.7206%22%20y1%3D%22201.3492%22%20x2%3D%22659.267%22%20y2%3D%22139.4764%22%20stroke-opacity%3D%220.59%22%20%2F%3E%20%3Cline%20x1%3D%22508.4742%22%20y1%3D%22562.8449%22%20x2%3D%22523.1746%22%20y2%3D%22500.3175%22%20stroke-opacity%3D%220.61%22%20%2F%3E%20%3Cline%20x1%3D%22215.8887%22%20y1%3D%2231.6224%22%20x2%3D%22232.7273%22%20y2%3D%22-40.0%22%20stroke-opacity%3D%220.85%22%20%2F%3E%20%3Cline%20x1%3D%2276.8926%22%20y1%3D%22474.2598%22%20x2%3D%2290.8543%22%20y2%3D%22414.8744%22%20stroke-opacity%3D%220.51%22%20%2F%3E%20%3Cline%20x1%3D%22680.985%22%20y1%3D%22151.1897%22%20x2%3D%22693.3333%22%20y2%3D%2298.6667%22%20stroke-opacity%3D%220.25%22%20%2F%3E%20%3Cline%20x1%3D%22-25.813%22%20y1%3D%22394.1709%22%20x2%3D%22-14.4262%22%20y2%3D%22345.7377%22%20stroke-opacity%3D%220.06%22%20%2F%3E%20%3Cline%20x1%3D%22399.4162%22%20y1%3D%22148.0915%22%20x2%3D%22411.1392%22%20y2%3D%2298.2278%22%20stroke-opacity%3D%220.13%22%20%2F%3E%20%3Cline%20x1%3D%22358.4235%22%20y1%3D%22246.7404%22%20x2%3D%22370.0%22%20y2%3D%22197.5%22%20stroke-opacity%3D%220.1%22%20%2F%3E%20%3Cline%20x1%3D%22624.5646%22%20y1%3D%22388.9872%22%20x2%3D%22640.0%22%20y2%3D%22323.3333%22%20stroke-opacity%3D%220.7%22%20%2F%3E%20%3Cline%20x1%3D%22413.4775%22%20y1%3D%22-481.2154%22%20x2%3D%22432.0%22%20y2%3D%22-560.0%22%20stroke-opacity%3D%221.0%22%20%2F%3E%20%3Cline%20x1%3D%22193.6872%22%20y1%3D%2215.2212%22%20x2%3D%22208.0829%22%20y2%3D%22-46.0104%22%20stroke-opacity%3D%220.57%22%20%2F%3E%20%3Cline%20x1%3D%22597.3099%22%20y1%3D%22130.3149%22%20x2%3D%22610.2326%22%20y2%3D%2275.3488%22%20stroke-opacity%3D%220.35%22%20%2F%3E%20%3Cline%20x1%3D%22142.5934%22%20y1%3D%22137.8522%22%20x2%3D%22158.2022%22%20y2%3D%2271.4607%22%20stroke-opacity%3D%220.72%22%20%2F%3E%20%3Cline%20x1%3D%22318.089%22%20y1%3D%22-206.3753%22%20x2%3D%22332.1212%22%20y2%3D%22-266.0606%22%20stroke-opacity%3D%220.52%22%20%2F%3E%20%3Cline%20x1%3D%22-55.9135%22%20y1%3D%22368.8708%22%20x2%3D%22-44.8%22%20y2%3D%22321.6%22%20stroke-opacity%3D%220.05%22%20%2F%3E%20%3Cline%20x1%3D%22599.1459%22%20y1%3D%22-316.6809%22%20x2%3D%22616.2963%22%20y2%3D%22-389.6296%22%20stroke-opacity%3D%220.88%22%20%2F%3E%20%3Cline%20x1%3D%22341.2578%22%20y1%3D%22221.8158%22%20x2%3D%22354.6154%22%20y2%3D%22165.0%22%20stroke-opacity%3D%220.42%22%20%2F%3E%20%3Cline%20x1%3D%22-124.5945%22%20y1%3D%22511.169%22%20x2%3D%22-106.3158%22%20y2%3D%22433.4211%22%20stroke-opacity%3D%220.98%22%20%2F%3E%20%3Cline%20x1%3D%22210.7005%22%20y1%3D%22422.9294%22%20x2%3D%22222.0408%22%20y2%3D%22374.6939%22%20stroke-opacity%3D%220.05%22%20%2F%3E%20%3Cline%20x1%3D%22199.8873%22%20y1%3D%22-103.4497%22%20x2%3D%22216.9325%22%20y2%3D%22-175.9509%22%20stroke-opacity%3D%220.87%22%20%2F%3E%20%3Cline%20x1%3D%22672.0308%22%20y1%3D%22-16.7339%22%20x2%3D%22687.2131%22%20y2%3D%22-81.3115%22%20stroke-opacity%3D%220.67%22%20%2F%3E%20%3Cline%20x1%3D%22147.3469%22%20y1%3D%22-80.6054%22%20x2%3D%22163.787%22%20y2%3D%22-150.5325%22%20stroke-opacity%3D%220.81%22%20%2F%3E%20%3Cline%20x1%3D%2299.3612%22%20y1%3D%2275.1798%22%20x2%3D%22117.4026%22%20y2%3D%22-1.5584%22%20stroke-opacity%3D%220.96%22%20%2F%3E%20%3Cline%20x1%3D%22784.9149%22%20y1%3D%22-160.844%22%20x2%3D%22797.7778%22%20y2%3D%22-215.5556%22%20stroke-opacity%3D%220.34%22%20%2F%3E%20%3Cline%20x1%3D%22743.7519%22%20y1%3D%22-151.0458%22%20x2%3D%22757.4384%22%20y2%3D%22-209.2611%22%20stroke-opacity%3D%220.47%22%20%2F%3E%20%3Cline%20x1%3D%2286.6073%22%20y1%3D%2256.3335%22%20x2%3D%22100.7107%22%20y2%3D%22-3.6548%22%20stroke-opacity%3D%220.53%22%20%2F%3E%20%3Cline%20x1%3D%22526.1542%22%20y1%3D%22301.5485%22%20x2%3D%22538.1818%22%20y2%3D%22250.3896%22%20stroke-opacity%3D%220.19%22%20%2F%3E%20%3Cline%20x1%3D%22531.9561%22%20y1%3D%22-195.5182%22%20x2%3D%22543.7288%22%20y2%3D%22-245.5932%22%20stroke-opacity%3D%220.14%22%20%2F%3E%20%3Cline%20x1%3D%22732.8256%22%20y1%3D%22-39.0105%22%20x2%3D%22745.4545%22%20y2%3D%22-92.7273%22%20stroke-opacity%3D%220.3%22%20%2F%3E%20%3Cline%20x1%3D%22634.9857%22%20y1%3D%22361.7774%22%20x2%3D%22646.8085%22%20y2%3D%22311.4894%22%20stroke-opacity%3D%220.15%22%20%2F%3E%20%3Cline%20x1%3D%22656.0273%22%20y1%3D%22-232.7296%22%20x2%3D%22669.5146%22%20y2%3D%22-290.0971%22%20stroke-opacity%3D%220.44%22%20%2F%3E%20%3Cline%20x1%3D%22307.9201%22%20y1%3D%22-81.6622%22%20x2%3D%22320.0%22%20y2%3D%22-133.0435%22%20stroke-opacity%3D%220.2%22%20%2F%3E%20%3Cline%20x1%3D%22573.193%22%20y1%3D%22374.5916%22%20x2%3D%22585.4867%22%20y2%3D%22322.3009%22%20stroke-opacity%3D%220.24%22%20%2F%3E%20%3Cline%20x1%3D%2234.0948%22%20y1%3D%22500.3102%22%20x2%3D%2249.0323%22%20y2%3D%22436.7742%22%20stroke-opacity%3D%220.64%22%20%2F%3E%20%3Cline%20x1%3D%22714.1081%22%20y1%3D%22-12.9115%22%20x2%3D%22728.0%22%20y2%3D%22-72.0%22%20stroke-opacity%3D%220.5%22%20%2F%3E%20%3Cline%20x1%3D%22109.7204%22%20y1%3D%22186.9231%22%20x2%3D%22125.7803%22%20y2%3D%22118.6127%22%20stroke-opacity%3D%220.77%22%20%2F%3E%20%3Cline%20x1%3D%22-116.0143%22%20y1%3D%22596.7331%22%20x2%3D%22-99.2771%22%20y2%3D%22525.5422%22%20stroke-opacity%3D%220.84%22%20%2F%3E%20%3Cline%20x1%3D%2232.0258%22%20y1%3D%22321.7325%22%20x2%3D%2244.7706%22%20y2%3D%22267.5229%22%20stroke-opacity%3D%220.32%22%20%2F%3E%20%3Cline%20x1%3D%224.2138%22%20y1%3D%22208.2823%22%20x2%3D%2220.0%22%20y2%3D%22141.1364%22%20stroke-opacity%3D%220.74%22%20%2F%3E%3C%2Fsvg%3E');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-direction: ltr;
	--site-language-flex-alignment: flex-start;
	--site-language-indent-left: 1;
	--site-language-indent-right: 0;
	--viewport-height: 100vh;
}

html {
	font-size: 17pt;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	text-indent: 0;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

s {
	text-decoration: line-through;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: var(--viewport-height);
	overflow: hidden;
	position: relative;
	z-index: 2;
	padding: 1rem 1rem 1rem 1rem;
}

#main {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	--border-radius-tl: 1.5rem;
	--border-radius-tr: 1.5rem;
	--border-radius-br: 1.5rem;
	--border-radius-bl: 1.5rem;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
	background-color: transparent;
	border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
	transition: opacity 0.75s ease-in-out 0s;
}

#main > .inner {
	--padding-horizontal: 0rem;
	--padding-vertical: 0rem;
	--spacing: 2rem;
	--width: 34rem;
	border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > * {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}

#main > .inner > :first-child {
	margin-top: 0 !important;
}

#main > .inner > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
	width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}

#main > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

body.is-loading #main {
	opacity: 0;
}

body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > *  {
	transition: none !important;
}

body.is-instant:after {
	display: none !important;
	transition: none !important;
}

.container {
	position: relative;
}

.container > .wrapper {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

.container > .wrapper > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
	text-align: var(--alignment);
}

#main .container.full:first-child > .wrapper {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main .container.full:first-child > .wrapper > .inner {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper > .inner {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container01 > .wrapper {
	display: inline-block;
	width: 30rem;
	background-color: #CDCDCD;
	box-shadow: 0rem 0.125rem 0.75rem 0rem #000000;
	border-radius: 1.5rem;
}

#container01 > .wrapper > .inner {
	--gutters: 2rem;
	--padding-horizontal: 2.25rem;
	--padding-vertical: 2rem;
	--spacing: 0rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#container01.default > .wrapper > .inner > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container01.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

#container01.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
}

#container01.columns > .wrapper > .inner > * {
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	text-align: var(--alignment);
	padding: 0 0 0 var(--gutters);
}

#container01.columns > .wrapper > .inner > * > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

#container01.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

#container01.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner > *:first-child {
	margin-left: calc(var(--gutters) * -1);
}

#container01.default > .wrapper > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: none !important;
	width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container01.default > .wrapper > .inner > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container01.default > .wrapper > .inner > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > div > .full {
	margin-left: calc(var(--gutters) * -0.5);
	max-width: none !important;
	width: calc(100% + var(--gutters) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > div:first-child, #container01.columns > .wrapper > .inner > div:first-child > .full:first-child {
	border-top-left-radius: inherit;
}

#container01.columns > .wrapper > .inner > div:last-child, #container01.columns > .wrapper > .inner > div:last-child > .full:first-child {
	border-top-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

#container01.columns > .wrapper > .inner > .full:first-child {
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full:last-child {
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	border-radius: inherit;
	height: calc(100% + (var(--padding-vertical) * 2));
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	border-radius: inherit;
	height: 100%;
	position: absolute;
	width: 100%;
}

#container01 > .wrapper > .inner > :nth-child(1) {
	width: calc(50% + (var(--gutters) / 2));
}

#container01 > .wrapper > .inner > :nth-child(2) {
	width: calc(50% + (var(--gutters) / 2));
}

.image {
	display: block;
	line-height: 0;
	max-width: 100%;
	position: relative;
}

.image .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
}

.image .frame img {
	border-radius: 0 !important;
	max-width: 100%;
	vertical-align: top;
	width: inherit;
}

.image.full .frame {
	display: block;
}

.image.full:first-child .frame {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#image01 .frame {
	width: 15rem;
	border-radius: 100%;
	border-color: #CDCDCD;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0rem 1.75rem 2rem 0rem #000000;
	transition: none;
}

#image01 .frame img {
	transition: none;
}

h1, h2, h3, p {
	direction: var(--site-language-direction);
	position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
	display: block;
	position: relative;
}

h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark {
	-webkit-text-fill-color: currentcolor;
}

#text01 {
	color: #000000;
	font-family: 'Londrina Shadow', cursive;
	font-size: 2.5em;
	line-height: 1.5;
	font-weight: 400;
	text-shadow: 0.088rem 0.088rem 0.125rem #030303;
}

#text01 a {
	text-decoration: underline;
}

#text01 a:hover {
	text-decoration: none;
}

#text01 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text03 {
	color: #000000;
	font-family: 'Anonymous Pro', monospace;
	font-size: 0.875em;
	line-height: 1.5;
	font-weight: 700;
}

#text03 a {
	text-decoration: underline;
}

#text03 a:hover {
	text-decoration: none;
}

#text03 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text02 {
	color: #000000;
	font-family: 'Anonymous Pro', monospace;
	font-size: 0.875em;
	line-height: 1.5;
	font-weight: 700;
}

#text02 a {
	text-decoration: underline;
}

#text02 a:hover {
	text-decoration: none;
}

#text02 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

hr {
	border: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

hr:before {
	content: '';
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

#divider01:before {
	width: 100%;
	border-top: solid 1px #000000;
	height: 1px;
	margin-top: -0.5px;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.icons li {
	position: relative;
	z-index: 1;
}

.icons li a {
	align-items: center;
	display: flex;
	justify-content: center;
}

.icons li a svg {
	display: block;
	position: relative;
}

.icons li a + svg {
	display: block;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.icons li a .label {
	display: none;
}

#icons01 {
	font-size: 1.25em;
	gap: 0.75rem;
}

#icons01:not(:first-child) {
	margin-top: 0.75rem !important;
}

#icons01:not(:last-child) {
	margin-bottom: 0.75rem !important;
}

#icons01 li a {
	height: 1em;
	width: 1em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons01 li a svg {
	height: 100%;
	width: 100%;
	transition: fill 0.25s ease;
}

#icons01 a svg {
	fill: #000000;
}

#icons01 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

@media (max-width: 1920px) {
	
}

@media (max-width: 1680px) {
	html {
		font-size: 12pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 12pt;
	}
}

@media (max-width: 1024px) {
	
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 12pt;
	}
	
	#main {
		--border-radius-tl: 0;
		--border-radius-tr: 0;
		--border-radius-br: 0;
		--border-radius-bl: 0;
	}
	
	#wrapper {
		padding: 0rem 0rem 0rem 0rem;
	}
	
	#main > .inner {
		--padding-horizontal: 0rem;
		--padding-vertical: 0rem;
		--spacing: 2rem;
	}
	
	
	
	#container01 > .wrapper > .inner {
		--gutters: 2rem;
		--padding-horizontal: 2rem;
		--padding-vertical: 2rem;
		--spacing: 0rem;
	}
	
	#container01.columns > .wrapper > .inner {
		flex-direction: column !important;
		flex-wrap: nowrap !important;
	}
	
	#container01.columns > .wrapper > .inner > span {
		height: 0;
		margin-top: calc(var(--gutters) * -1);
		pointer-events: none;
		visibility: hidden;
	}
	
	#container01.columns > .wrapper > .inner > *:first-child {
		margin-left: 0 !important;
		padding-top: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > * {
		padding: calc(var(--gutters) * 0.5) 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > *:last-child {
		padding-bottom: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > div > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	#container01.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(var(--gutters) * -0.5) !important;
	}
	
	#container01.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(var(--gutters) * -0.5) !important;
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(var(--padding-vertical) * -1) !important;
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	
	#container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
		border-bottom-left-radius: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
		border-top-right-radius: 0 !important;
	}
	
	#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: auto;
	}
	
	#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
		height: auto;
		position: relative;
		width: auto;
	}
	
	#container01 > .wrapper > .inner > :nth-child(1) {
		min-height: 100% !important;
		width: 100% !important;
	}
	
	#container01 > .wrapper > .inner > :nth-child(2) {
		min-height: 100% !important;
		width: 100% !important;
	}
	
	#image01 .frame {
		width: 15rem;
	}
	
	#text01 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 2.5em;
		line-height: 1.5;
	}
	
	#text03 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 0.875em;
		line-height: 1.5;
	}
	
	#text02 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 0.875em;
		line-height: 1.5;
	}
	
	#divider01:before {
		width: 100rem;
	}
	
	#icons01 {
		font-size: 1.25em;
		gap: 0.75rem;
	}
	
	#icons01:not(:first-child) {
		margin-top: 0.5625rem !important;
	}
	
	#icons01:not(:last-child) {
		margin-bottom: 0.5625rem !important;
	}
}

@media (max-width: 480px) {
	#wrapper {
		padding: 0rem 0rem 0rem 0rem;
	}
	
	#main > .inner {
		--spacing: 1.75rem;
	}
	
	#container01 > .wrapper > .inner {
		--spacing: 0rem;
	}
}

@media (max-width: 360px) {
	#wrapper {
		padding: 0rem 0rem 0rem 0rem;
	}
	
	#main > .inner {
		--padding-horizontal: 0rem;
		--padding-vertical: 0rem;
		--spacing: 1.5rem;
	}
	
	#container01 > .wrapper > .inner {
		--gutters: 1.5rem;
		--padding-horizontal: 1.5rem;
		--padding-vertical: 1.5rem;
		--spacing: 0rem;
	}
	
	#text01 {
		font-size: 2em;
	}
	
	#text03 {
		font-size: 0.875em;
	}
	
	#text02 {
		font-size: 0.875em;
	}
	
	#icons01 {
		gap: 0.5625rem;
	}
}